.table-fix-left.assignment{
    margin-left: 320px;
}

.table-fix-left.assignment .td-left.user{
    min-width: 320px;
}


.table-fix-left.assignment tbody td{
    height: 70px;
}


.members .user .avatar{
    width: 60px;
    height: 60px;
    float: left;
    padding: 0 5px;
}

.members .user .name{
    margin-top: 5px;
    margin-bottom: 5px;
}


.members .user .email{
    color: #777;
    font-weight: normal;
}